

.ProfilePic {
  position: fixed;
  right: 30px;
  top: 20px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  background-image: url(defaultProfilePicture2.png);
  background-size: cover;
}

.project {
	position: relative;
	top: 15px;
	height: 450px;
	width: 300px;
}

#projectHeader{
	position: relative
	top: 230px;
}

#contributionHeader{
  position: relative;
  top: 10px;
}

.contributions {
  position: relative;
  top: 200px;
  height: 450px;
  width: 300px;

}

#contribution1{
  height: 470px;
  width: 310px;
}

#contribution2{
  height: 470px;
  width: 310px;
}


