
body {
  margin: 0px; 
  height: 1040px; 
  background: #19647E;
  font-family: 'Happy Monkey', sans-serif;
}

#accountInfo{
  text-align: right;
  position: absolute;
  margin: 0px;
  right: 150px;
  top: 60px;
  color: #FDF7FA;
}

#title {
  position: absolute;
  margin: 0px;
  left: 50px;
  top: 40px;
  font-size: 70px;
  color: #E76F51;
}

#name {
  font-size: 24px;
  color: #E76F51;
}

#userName {
  position: absolute;
  font-size: 20px;
  color: #FDF7FA;
  top: 56px;
  left: -100px;
  white-space: nowrap;
}

#myProjects{
  position: absolute;
  color: #FDF7FA;
  top: 140px;
  left: 50px;
}

#myContributions{
  position: absolute;
  color: #FDF7FA;
  top: 670px;
  left: 50px;
}

.container {
  position: absolute;
  height: 400px;
  width: 80%;
  display: flex;
  left: 10%;
  top: 200px;

}

.card {
  display: flex;
  height: 400px;
  width: 300px;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
    margin-left: -20px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}


#profilePic {
  position: absolute;
  margin: 0px;
  right: 50px;
  top: 50px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

#topUp {
  position: absolute;
  margin: 0px;
  right: 50px;
  top: 50px;
  width: 80px;
  height: 0px;
  border-radius: 50%;
}


.project {
	position: relative;
	top: 15px;
	height: 450px;
	width: 300px;
}

#projectHeader{
	position: relative
	top: 230px;
}

#contributionHeader{
  position: relative;
  top: 10px;
}

.contributions {
  position: relative;
  top: 200px;
  height: 450px;
  width: 300px;

}

#contribution1{
  height: 470px;
  width: 310px;
}

#contribution2{
  height: 470px;
  width: 310px;
}


