h1 {
	position: relative;
	margin-left: 45%;
	color: #E76F51;
}
body {
	background-color: #19647E;
}
.formboxes {
	border-color: #E76F51;
	border-width: 50px;
	border-height: 50px;
	border: 10px;
	color: #FDF7FA;
}
.textbox{
	color: #0000;
}
.ccnumbox {
	position: fixed;
	margin-left: 25%;
}
.exmonthbox {
	position: fixed;
	margin-left: 55%;
}
.exyearbox {
	position: fixed;
	margin-top: 5%;
	margin-left: 55%;
}
.yeartextbox {
	position: relative;
	margin-left: 10px;

}
.cvcbox {
	position: fixed;
	margin-top: 5%;
	margin-left: 25%;
}
.cvctextbox {
	position: relative;
	margin-left: 95px;
}
.zipbox {
	position: fixed;
	margin-top: 10%;
	margin-left: 25%;
}
.ziptextbox {
	position: relative;
	margin-left: 70px;
}
.tokenbox {
	position: fixed;
	margin-top: 15%;
	margin-left: 25%;
}

input {
	background-color: #FDF7FA;
}