<!DOCTYPE html>
<html>
<head>
	<title>login</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
	<p class="heading">Login</p>
	<!--<button class="button">Login</button>
	<p class = "MyClass" id="myText"> password: </p>
	<svg width ="500" height="50">
	<rect width="350" height="100" style="fill:rgb(40,100,100);stroke-width:3;stroke:rgb(0,0,0)" /> -->
	<form action="{{ url_for('login') }}" method="post">
		<div class="BackBlock">
  		<label class="inputtext" for="fname">Username: </label>
  		<input class="inputbox" type="text" id="login_username" name="login_username"><br><br>
  		<label class="inputtext" for="lname">Password: </label>
  		<input class="inputbox" type="password" id="login_password" name="login_password"><br><br>
  		<input class="inputbox" type="submit" value="Login">
  	    </div>
	</form>
	<p><a href="/register">Not a member? Register here!</a></p>

</html>